<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>
</head>
<body>
<center>
<h1>Enter BloodGroup to Search </h1>
    <form action="result" METHOD="GET">
        <label> BLOOD GROUP:</label>
  <select name="search">
      <option value="O+ve">O+ve</option>
      <option value="O-ve">O-ve</option>
      <option value="A+ve">A+ve</option>
      <option value="A-ve">A-ve</option>
      <option value="B+ve">B+ve</option>
      <option value="B-ve">B-ve</option>
      <option value="AB+ve">AB+ve</option>
      <option value="AB-ve">AB-ve</option>
  </select><br>
        <br>
        <a href="result"><button>RESULT</button></a>
    </form>
</center>
</body>
</html>